
<div style="width: 80%;height:90%;margin:0 auto;margin-top: 80px;background-color: #F3F5FA;">
  <div>
    <div style="float: left">
      <button nz-button (click)="addCourse()" nzType="primary">添加</button>
    </div>
    <div style="float: right">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" [formControl]="CourseNumber" nz-input placeholder="请输入课程号" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="Search()">Search</button>
          </ng-template>
    </div>
  </div>
  <div style="clear: both"></div>
      <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>课程号</th>
            <th>课程名称</th>
            <th>学分</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.Cno }}</td>
            <td>{{ data.Cname }}</td>
            <td>{{ data.Credit }}</td>
            <td>
              <a (click)="showModal(data)">修改&nbsp;</a>
              <nz-modal [(nzVisible)]="isVisible" nzTitle="Course" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
                  <div [formGroup]="Course">
                      <label>
                        Cno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" formControlName="Cno" readonly placeholder="{{ data.Cno }}">
                      </label>
                      <br>
                      <label>
                        Cname:  &nbsp;&nbsp;&nbsp;
                        <input type="text" formControlName="Cname" required placeholder="{{ data.Cname }}"> 
                      </label>
                      <br>
                      <label>
                        Credit:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" formControlName="Credit" required placeholder="{{ data.Ssex }}">
                      </label>    
                    </div>
              </nz-modal>
              <a nz-popconfirm nzTitle="是否确认移出?" (nzOnConfirm)="deleteCourse(data)" (nzOnCancel)="cancel()" nzTop="60px">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>


<nz-modal [(nzVisible)]="aIsvisible" nzTitle="Course" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="handleOka()" (nzOnCancel)="handleCancela()">
    <div [formGroup]="addcourse">
        <label>
          Cno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" formControlName="Cno" required placeholder="请输入课程号">
        </label>
        <br>
        <label>
          Cname:  &nbsp;&nbsp;&nbsp;
          <input type="text" formControlName="Cname" required placeholder="请输入课程名"> 
        </label>
        <br>
        <label>
          Credit:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" formControlName="Credit" required placeholder="请输入学分">
        </label>
      </div>
</nz-modal>

<nz-modal [(nzVisible)]="sisVisible" nzTitle="Course" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="handleOks()" (nzOnCancel)="handleCancels()">
    <div [formGroup]="SearchCourse">
        <label>
          Cno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" formControlName="Cno" readonly>
        </label>
        <br>
        <label>
          Cname:  &nbsp;&nbsp;&nbsp;
          <input type="text" formControlName="Cname" readonly > 
        </label>
        <br>
        <label>
          Credit:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" formControlName="Credit" readonly >
        </label>
      </div>
</nz-modal>
